.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.eslintrc.json
.prettierrc
tsconfig.json
esbuild.mjs
**/*.map
**/*.ts
!out/extension.js
.monitor/**
.VRE/**
.migrate/**
.github/**
VRE_Around_AI_Code_Editor_Extension.md
VRE_Around_AI_Code_Editor_Extension.pdf
